body {
    font-family: sans-serif;
}

.h1_1{
position: relative;
left: 200px;
}
.h2_1{
position: relative;
left:250px
}

.h3_1{
position: relative;
left:200px
}
.h3_2{
position: relative;
left:200px
}
.h3_3{
position: relative;
left:200px
}
.h3_4{
position: relative;
left:200px
}
.h3_5{
position: relative;
left:200px
}
.h2_2{
position: relative;
left:200px
}
.h3_6{
position: relative;
left:200px
}
